.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 24px;
  margin-bottom: 32px;
}

.card {
  display: flex;
  flex-direction: column;
  scroll-margin-top: calc(var(--ifm-navbar-height) + 1rem);
}

.cover {
  aspect-ratio: 3 / 2;
  object-fit: cover;
  object-position: 50% 50%;
  width: 100%;
}

.cardBody {
  flex-grow: 1;
}

.cardTitle {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
}

.name {
  margin-bottom: 0;
  flex-grow: 1;
}

.avatar {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.cardFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stars {
  color: var(--ifm-color-emphasis-600);
}
