/**
HOMEPAGE
*/

@font-face {
  font-family: Inter var;
  font-weight: 100 900;
  font-display: block;
  font-style: normal;
  font-named-instance: "Regular";
  src: url("/fonts/Inter-roman.var.woff2") format("woff2");
}

@font-face {
  font-family: Inter var;
  font-weight: 100 900;
  font-display: block;
  font-style: italic;
  font-named-instance: "Italic";
  src: url("/fonts/Inter-roman.var.woff2") format("woff2");
}

.heroBanner {
  text-align: center;
  font-family: Inter var, var(--ifm-heading-font-family);
  font-display: block;
  font-style: normal;
  font-named-instance: "Regular";
  background-color: var(--ifm-hero-background-color);
  color: var(--ifm-hero-text-color);
  padding-top: 4rem;
  padding-bottom: 4rem;
  overflow: hidden;
}

.flexContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: normal;
  align-content: normal;
}

.heroTitle {
  font-size: 5rem;
  font-weight: 900;
  font-family: Inter var, var(--ifm-heading-font-family);
  margin-bottom: 0.5rem;
}

.heroSubtitle {
  font-size: 1.75rem;
}

.heroButton {
  padding: 0.5rem 1.5rem;
  font-size: 20px;
}

.heroImg {
  margin-top: 4rem;
  width: 70%;
}

.heroImg img {
  border-radius: 0.5rem;
  aspect-ratio: 2800/1635;
  width: 100%;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(8 134 222 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  border-width: 1px;
  border-color: rgb(172 177 185 / 1);
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color),
    0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

@media screen and (max-width: 768px) {
  .heroTitle {
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 0.5rem;
  }

  .heroSubtitle {
    font-size: 1.1rem;
  }

  .heroImg {
    margin-top: 3rem;
    width: 95%;
  }
  .heroButton {
    padding: 0.4rem 0.9rem;
    font-size: 16px;
  }
}

@media screen and (max-width: 576px) {
  .heroTitle {
    font-size: 2.5rem;
  }

  .heroSubtitle {
    font-size: 1rem;
  }

  .heroImg {
    margin-top: 2rem;
    width: 95%;
  }
  .heroButton {
    padding: 0.6rem 1rem;
    font-size: 16px;
  }
}

@media screen and (max-width: 390px) {
  .heroBanner span.container {
    text-align: center;
  }
}

.homeSection {
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 10%;
  padding-right: 10%;
}

.secondaryTitle {
  font-size: 2.5rem;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .homeSection {
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .secondaryTitle {
    font-size: 2rem;
  }
}

@media screen and (max-width: 576px) {
  .homeSection {
    flex-direction: column;
    padding-left: 0.85rem;
    padding-right: 0.85rem;
  }
  .secondaryTitle {
    font-size: 1.85rem;
  }
}

/** 
 FEATURES WITH VIDEOS
**/

.coolFeatureFlexContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: normal;
  margin-top: 4rem;
}

.coolFeatureItem {
  max-width: 50%;
  margin: 2rem 2rem;
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.coolFeatureVideoPlayer video {
  border-radius: 0.5rem;
}

.coolFeatureVideoPausedOverlay {
  position: relative;
  display: inline-block;
}

.coolFeatureVideoPausedOverlay img {
  width: 100%;
  height: 100%;
  object-fit: "cover";
  border-radius: 0.5rem;
}

.coolFeatureVideoPausedOverlaySvg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  fill: var(--ifm-hero-background-colo);
  opacity: 0.8;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.coolFeatureItem video {
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 768px) {
  .coolFeatureFlexContainer {
    flex-direction: column;
    margin-top: 2rem;
  }

  .coolFeatureFlexContainerToReverse {
    flex-direction: column-reverse;
  }

  .coolFeatureItem {
    max-width: 100%;
    margin: 1rem 1rem;
  }
}

.coolFeatureItem h4 {
  font-size: 2rem;
}
.coolFeatureItem p {
  font-size: 1.1rem;
}

@media screen and (max-width: 576px) {
  .coolFeatureItem h4 {
    font-size: 1.2rem;
  }
  .coolFeatureItem p {
    font-size: 1rem;
  }
  .coolFeatureFlexContainer {
    margin-top: 1rem;
  }
}

/**
COMPATIBILITIES
**/

.compatibilitiesSection {
  background-color: var(--ifm-hero-background-color);
  color: var(--ifm-hero-text-color);
}

.compatibilitiesRow {
  margin-top: 2.5rem;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: flex-start;
}

.compatibilitiesCol {
  margin: 0.5rem 1.5rem;
}

.compatibilitiesCol a {
  color: var(--ifm-heading-color);
}

.compatibilitiesCol img {
  border-radius: 0.5rem;
  width: 100%;
  height: auto;
}

@media screen and (max-width: 768px) {
  .compatibilitiesRow {
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .compatibilitiesCol {
    flex: 0 0 45%;
    margin: 0.5rem;
  }
  .compatibilitiesCol img {
    width: 100%;
    height: auto;
  }
}

/**
Characteristics
*/

.featureFlexContainer {
  padding-top: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: flex-start;
}

.feature {
  width: calc(33.33% - 20px);
  background-color: var(--ifm-card-background-color);
  padding: var(--ifm-card-vertical-spacing) var(--ifm-card-horizontal-spacing);
  text-align: center;
  border-radius: 0.5rem;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 1024px) {
  .featureFlexContainer {
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .feature {
    width: 100%;
    margin-bottom: 2rem;
  }
}

.feature:hover {
  transform: translateY(-5px);
  transition: 200ms;
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
}

.feature h4 {
  font-size: 1.5rem;
  margin: 0 0 20px;
}

.feature p {
  font-size: 1.08rem;
  line-height: 1.75;
}

/**
Testimonial
**/

.testimonialContainer {
  margin-top: 4rem;
}

/**
FAQ
*/

.faqRows {
  margin-top: 3rem;
}

.faqRows h4 {
  font-size: 1.25rem;
}
/**
YouTube videos
*/

.youtubeVideoSection {
  background-color: var(--ifm-hero-background-color);
  color: var(--ifm-hero-text-color);
}

.homeYouTubeVideoTitle {
  margin-top: 8px;
}

.newsletterSection {
  background-color: var(--ifm-hero-background-color);
  color: var(--ifm-hero-text-color);
}

@media screen and (max-width: 996px) {
  .newsletterSectionInputCol {
    margin-top: 20px;
  }
}
