/**
HOMEPAGE
*/

@font-face {
  font-family: Inter var;
  font-weight: 100 900;
  font-display: block;
  font-style: normal;
  font-named-instance: "Regular";
  src: url(/fonts/Inter-roman.var.woff2) format("woff2");
}

@font-face {
  font-family: Inter var;
  font-weight: 100 900;
  font-display: block;
  font-style: italic;
  font-named-instance: "Italic";
  src: url(/fonts/Inter-roman.var.woff2) format("woff2");
}

.heroBanner {
  text-align: center;
  font-family: "Inter var";
  background-color: var(--ifm-hero-background-color);
  color: var(--ifm-hero-text-color);
  padding-top: 4rem;
  padding-bottom: 4rem;
  overflow: hidden;
}

.flexContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: normal;
  align-content: normal;
}

.heroTitle {
  font-size: 5rem;
  font-weight: 800;
  margin-bottom: 0.5rem;
}

.heroSubtitle {
  font-size: 1.75rem;
}

.heroButton {
  padding: 0.5rem 1rem;
  font-size: 16px;
}

.heroImg {
  margin-top: 4rem;
  width: 70%;
}

.heroImg img {
  border-radius: 0.5rem;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(8 134 222 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  border-width: 1px;
  border-color: rgb(172 177 185 / 1);
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color),
    0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

@media screen and (max-width: 768px) {
  .heroTitle {
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 0.5rem;
  }

  .heroSubtitle {
    font-size: 1.1rem;
  }

  .heroImg {
    margin-top: 3rem;
    width: 95%;
  }
  .heroButton {
    padding: 0.4rem 0.9rem;
    font-size: 16px;
  }
}

.homeSection {
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 10%;
  padding-right: 10%;
}

.secondaryTitle {
  font-size: 2.5rem;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .homeSection {
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .secondaryTitle {
    font-size: 2rem;
  }
}

/** 
 FEATURES WITH VIDEOS
**/

.coolFeatureFlexContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: normal;
  margin-top: 4rem;
}

.coolFeatureItem {
  max-width: 50%;
  margin: 2rem 2rem;
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.coolFeatureVideoPlayer video {
  border-radius: 0.5rem;
}

.coolFeatureVideoPausedOverlay {
  position: relative;
  display: inline-block;
}

.coolFeatureVideoPausedOverlay img {
  width: 100%;
  height: 100%;
  object-fit: "cover";
  border-radius: 0.5rem;
}

.coolFeatureVideoPausedOverlaySvg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  fill: var(--ifm-hero-background-colo);
  opacity: 0.8;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

@media screen and (max-width: 768px) {
  .coolFeatureFlexContainer {
    flex-direction: column;
    margin-top: 2rem;
  }

  .coolFeatureFlexContainerToReverse {
    flex-direction: column-reverse;
  }

  .coolFeatureItem {
    max-width: 100%;
    margin: 1rem 1rem;
  }
}

.coolFeatureItem h4 {
  font-size: 2rem;
}
.coolFeatureItem p {
  font-size: 1.1rem;
}

/**
COMPATIBILITIES
**/

.compatibilitiesSection {
  background-color: var(--ifm-hero-background-color);
  color: var(--ifm-hero-text-color);
}

.compatibilitiesRow {
  margin-top: 2.5rem;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: flex-start;
}

@media screen and (max-width: 768px) {
  .compatibilitiesRow {
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .compatibilitiesCol img {
    width: 100%;
    height: auto;
  }
}

.compatibilitiesCol img {
  border-radius: 0.5rem;
  width: 100%;
  height: auto;
}

.compatibilitiesCol {
  margin: 0.5rem 1.5rem;
}

/**
Characteristics
*/

.featureFlexContainer {
  padding-top: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: flex-start;
}

.feature {
  width: calc(33.33% - 20px);
  background-color: var(--ifm-card-background-color);
  padding: var(--ifm-card-vertical-spacing) var(--ifm-card-horizontal-spacing);
  text-align: center;
  border-radius: 0.5rem;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 1024px) {
  .featureFlexContainer {
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .feature {
    width: 100%;
    margin-bottom: 2rem;
  }
}

.feature:hover {
  transform: translateY(-5px);
  transition: 200ms;
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
}

.feature h4 {
  font-size: 1.5rem;
  margin: 0 0 20px;
}

.feature p {
  font-size: 1.08rem;
  line-height: 1.75;
}

/**
Testimonial
**/

.testimonialContainer {
  margin-top: 4rem;
}

/**
FAQ
*/

.faqRow {
  margin-top: 2.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: flex-start;
}

.faqCol h4 {
  font-size: 1.5rem;
}

/**
YouTube videos
*/

.youtubeVideoSection {
  background-color: var(--ifm-hero-background-color);
  color: var(--ifm-hero-text-color);
}

/**
END OF HOME
**/

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
  .buttons {
    padding: 2rem;
  }
}

@media screen and (min-width: 966px) {
  .heroText {
    padding-top: 4rem;
  }
}

@media screen and (max-width: 996px) {
  .filtersSidebar {
    margin-bottom: 32px;
  }
  .filterSearchInput {
    width: 95%;
  }
  .filtersSidebar .filterSearch {
    padding-left: 0;
  }
  .integrationFilterCheckbox {
    float: left;
  }
  .filterBlock {
    padding-left: 0px;
  }
  .filterTitle {
    padding-top: 16px;
  }
}

@media screen and (min-width: 996px) {
  .filterBlock {
    padding-left: 16px;
  }
  .filterTitle {
    padding-top: 16px;
  }
}

.integrationFilterCheckbox input {
  margin-right: 8px;
}

.integrationImage {
  object-fit: cover;
  object-position: 50% 50%;
  width: 100%;
  height: 250px !important;
}

@media screen and (min-width: 996px) {
  .integrationCard {
    margin-bottom: 48px;
    height: 500px;
  }
}

.integrationCard {
  margin-bottom: 32px;
}

.buttonsIntegration {
  display: flex;
  justify-content: space-between;
}

.buttonIntegrationLeft {
  flex: 0 1 50%;
  padding-left: 0.5rem;
}

.buttonIntegrationRight {
  flex: 0 1 50%;
  padding-left: 0.5rem;
}

.featureImage img {
  border-radius: 5px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.listUnstyled {
  padding-left: 0;
  list-style: none;
}

.listUnstyled li {
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.checkIcons {
  height: 22px;
  width: 22x;
  margin-right: 8px;
  vertical-align: middle;
}

.videoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 966px) {
  .videoContainerPadding {
    margin: 2rem;
    padding: 2rem;
  }
}

.imgContainer {
  width: 100%;
  position: relative;
}

.imgContainer img {
  vertical-align: middle;
  width: 100%;
  height: auto;
}

.youtubeVideoContainer {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.youtubeVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videoContainer :hover {
  cursor: pointer;
}

.videoContainer :hover .playButton {
  filter: none;
}

.playButton {
  width: 68px;
  height: 48px;
  position: absolute;
  transform: translate3d(-50%, -50%, 0);
  top: 50%;
  left: 50%;
  z-index: 1;
  background-color: transparent;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 68 48"><path fill="%23f00" fill-opacity="0.8" d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"></path><path d="M 45,24 27,14 27,34" fill="%23fff"></path></svg>');
  filter: grayscale(100%);
  transition: filter 0.1s cubic-bezier(0, 0, 0.2, 1);
  border: none;
}

.homeYouTubeVideoTitle {
  margin-top: 8px;
}

/**
 Testimonial
**/

.section {
  padding: 72px 0;
}

.sectionAlt {
  background-color: var(--ifm-color-emphasis-100);
}

.testimonialsSection > :global(.col) > * {
  margin-bottom: 2rem;
}

@media (max-width: 996px) {
  .testimonialsSection > :global(.col:last-child) > *:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: 997px) {
  .testimonialsSection > :global(.col) > *:last-child {
    margin-bottom: 0;
  }
}

.testimonial {
  font-size: 15px;
}

.testimonialMeta {
  color: var(--ifm-color-emphasis-700);
}

.testimonialMeta strong {
  color: var(--ifm-font-color-base);
}
