.integrationImage img {
  object-fit: cover;
  object-position: 50% 50%;
  height: 200px !important;
}

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
  .buttons {
    padding: 2rem;
  }
}

@media screen and (min-width: 966px) {
  .heroText {
    padding-top: 4rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.listUnstyled {
  padding-left: 0;
  list-style: none;
}

.listUnstyled li {
  padding-left: 10px;
}

.checkIcons {
  height: 22px;
  width: 22x;
  margin-right: 8px;
  vertical-align: middle;
}

.buttonsIntegration {
  display: flex;
  justify-content: space-between;
}

.buttonIntegrationLeft {
  flex: 0 1 50%;
  padding-left: 0.5rem;
}

.buttonIntegrationRight {
  flex: 0 1 50%;
  padding-left: 0.5rem;
}
